{{> menu id="dashboard"}}

<section class="ui segment">
    {{> game-view}}
</section>
<section class="ui center aligned middle aligned segment">
  <form name="addGamelistForm" class="ui stacked segment form" onsubmit="return" action="/dashboard/addGamelist" method="POST">
      <div class="two fields">
        <div class="field">
          <label>Title</label>
          <input placeholder="Title" type="text" name="title" autofocus required>
        </div>
      <input type="submit" class="ui blue button" value="Add Gamelist">
  </form>
</section>