{{> menu}}

<h2 class="ui header">
  Welcome to the Gamelist App, {{fullname}}!
</h2>

<section class="ui two column grid segment">
  <div class="ui column">
<div>
      <title>{{title}}</title>
      <p>
        This app will allow users rate, add, delete games to the list.
      </p>
    </div>
    <div>
            <div class="ui yellow statistic">
      <div class="value">
        {{totalGamelists}}
      </div>
      <div class="label">
        Gamelists
      </div>
      <div class="ui yellow statistic">
      <div class="value">
        {{totalGames}}
      </div>
      <div class="label">
        Games
      </div>
    </div>
    </div>
  </div>
    <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/a3a9ff3b-98eb-4ef3-883a-429f0931446c/fortnite---button-1520296499714.jpg?v=1644681696482">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/a3a9ff3b-98eb-4ef3-883a-429f0931446c/minecraft.png?v=1644682041130">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/a3a9ff3b-98eb-4ef3-883a-429f0931446c/icon0.png?v=1647342986295">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/a3a9ff3b-98eb-4ef3-883a-429f0931446c/7aJhOMuJALdBPqZHVy3CgJsg.png?v=1647343107585">
      </div>
    </div>
  </div>
</section>